---
import type { HTMLAttributes } from 'astro/types'
import { localizePath } from 'astro-i18next'
import { Icon } from 'astro-icon'

interface Props extends HTMLAttributes<'a'> {
  href: string
  class?: string
  target?: '_self' | '_blank' | '_parent' | '_top' | null
  outlink?: boolean
}

const { href, target, class: className, outlink, ...attrs } = Astro.props
---

<a
  class:list={[className, { 'group relative': target === '_blank' }]}
  href={/(http|https)/.test(href) ? href : localizePath(href)}
  target={target}
  {...attrs}
>
  <slot />
  {
    outlink && (
      <Icon
        name="outlink"
        class="absolute -right-2 top-1 w-[6px] fill-gray-200 duration-200 group-hover:fill-gray-700 dark:group-hover:fill-gray-100"
      />
    )
  }
</a>
