@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

:root {
  scroll-padding-top: 50px;
  --primary-color: #333;
  --secondary-color: #666;
  --tertiary-color: #78A960;
}

body {
  line-height: 1.2;
  font-family: 'Poppins', 'Roboto Mono', sans-serif;
  display: flex;
}



/* components */
/* pill-btn */
.pill-btn {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  padding: 12px 20px;
  transition: .3s;
}
.pill-btn:hover {
  color: #fff;
  background-color: #999;
  border: 1px solid #999;
}
.pill-btn.solid {
  color: #fff;
  background-color: var(--primary-color);
}
.pill-btn.solid:hover {
  background-color: #999;
  border: 1px solid #999;
}
hr {
  border: none;
  height: 2px;
  background-color: #ccc;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--secondary-color);
}
h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.hash {
  position: relative;
}
.hash:hover::before {
  opacity: 1;
}
.hash::before {
  position: absolute;
  content: "#";
  left: -10px;
  transform: translateX(-100%);
  font-weight: 400;
  color: var(--tertiary-color);
  opacity: 0;
  transition: .3s;
}
pre {
  font-family: 'Roboto Mono';
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.mono {
  font-family: 'Roboto Mono';
}
.bold {
  font-weight: 600;
}
.thin {
  font-weight: 300;
  color: #444;
}
.hilite {
  font-family: 'Roboto Mono';
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  color: #000;
}
.content-block p {
  line-height: 1.6;
  font-size: 14px;
  font-weight: 300;
  color: #444;
  margin-bottom: 10px;
}
.content-block p a {
  font-weight: 600;
  color: var(--primary-color);
}
.tips {
  position: relative;
  padding: 15px 20px;
  border-left: 4px solid #f66;
  background-color: #fff1ec;
}
.tips::before {
  position: absolute;
  display: block;
  content: "!";
  top: 15px;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #f66;
}
table {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}
tr {
  border-bottom: 1px solid #e5e7eb;
}
tr.large-border {
  border-bottom: 2px solid #ccc;
}
tr.none-border {
  border-bottom: none;
}
tr.sec-options td:first-child {
  padding-left: 20px;
}
th, td {
  text-align: left;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
th:last-child, td:last-child {
  padding-right: 0;
}
th {
  vertical-align: bottom;
  font-weight: 600;
}
td {
  vertical-align: middle;
}
table pre {
  margin: 8px 0;
}
table .tips {
  margin-top: 12px;
}
.pri-color {
  color: var(--primary-color);
}
.ter-color {
  color: var(--tertiary-color);
}
.gray-color {
  color: #666;
}
.w-20 {
  width: 20%;
}
.w-15 {
  width: 15%;
}
.w-35 {
  width: 35%
}
.w-45 {
  width: 45%
}
.w-65 {
  width: 65%
}

@media screen and (max-width: 900px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  p, .pill-btn {
    font-size: 14px;
  }
  thead tr {
    display: none;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
  }
  td:last-child {
    padding-top: 0;
  }
  .mono {
    font-size: 12px;
  }
  .w-15 {
    width: 20%;
  }
  .w-20 {
    width: 40%;
  }
  .w-45, .w-65 {
    width: 100%;
  }
  .f-50 {
    width: 50%;
  }
}

/* aside */
aside {
  display: flex;
  align-items: flex-end;
  width: 240px;
}
@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}
.sidebar {
  position: sticky;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #333;
  padding: 40px 30px;
}
.github {
  position: absolute;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  bottom: 20px;
  left: 30px;
}
.github img {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
}
.sidebar-group > li {
  margin-bottom: 40px;
}
.sidebar-group p {
  font-size: 20px;
  margin-bottom: 15px;
}
.sidebar-group a {
  display: block;
}
.sidebar-item > li {
  font-weight: 300;
}
.sidebar-item > li a {
  position: relative;
  padding: 7px 0 7px 10px;
  transition: .3s
}
.sidebar-item > li a:hover, .sidebar-item > li a.active {
  padding: 7px 0 7px 20px;
}
.sidebar-item > li a::before {
  position: absolute;
  content: "";
  display: block;
  top: calc(50% - 1px);
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, .7);
  transition: .3s;
}
.sidebar-item > li a:hover::before, .sidebar-item > li a.active::before {
  width: 10px;
}

/* main */
main {
  display: block;
  width: calc(100% - 240px);
  padding-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
}

/* intro-block */
#intro-zoomist {
  width: 100%;
  height: 40vh;
}
#intro-zoomist .zoomist-wrapper {
  background-color: #fff;
  transition: background-color .5s;
}
#intro-zoomist .zoomist-slider, #intro-zoomist .zoomist-zoomer {
  background-color: #333;
  opacity: 0;
  transition: opacity .5s;
}
#intro-zoomist .zoomist-in-zoomer, #intro-zoomist .zoomist-out-zoomer {
  background-color: #333;
}
#intro-zoomist .zoomist-in-zoomer svg, #intro-zoomist .zoomist-out-zoomer svg {
  fill: #fff;
}
#intro-zoomist:hover .zoomist-wrapper {
  background-color: #f4f4f4;
}
#intro-zoomist:hover .zoomist-slider, #intro-zoomist:hover .zoomist-zoomer {
  opacity: 1;
}
section.intro-block {
  width: 100%;
  padding: 0 60px;
}
section.intro-block .block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  border-bottom: 2px solid #666;
}
section.intro-block .text-wrap {
  width: 100%;
  max-width: 1200px;
} 
section.intro-block p {
  color: #999;
  margin: 40px 0;
}
section.intro-block .pill-btn {
  margin: 0 10px;
}


/* content-block */
section.content-block {
  padding: 0 60px;
}
section.content-block .container {
  max-width: 1400px;
  margin: auto;
}
section.content-block article {
  padding: 100px 0 20px;
}
section.content-block .content-wrap {
  padding-top: 60px;
  padding-bottom: 20px;
}
section.content-block .content-wrap .btn-wrap {
  padding-top: 10px;
}
section.content-block .content-wrap .pill-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
@media screen and (max-width: 1024px) {
  section.content-block {
    padding: 0 45px;
  }
}
@media screen and (max-width: 767px) {
  section.content-block {
    padding: 0 15px;
  }
  section.content-block article {
    padding: 60px 0 0;
  }
  section.content-block .content-wrap {
    padding-top: 40px;
  }
}

/* demo-box */
.demo-box {
  width: 100%;
  overflow: hidden;
}
ul.tabs {
  display: flex;
  background-color: var(--primary-color);
}
ul.tabs a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #999;
  padding: 20px;
  transition: .3s;
}
ul.tabs a:hover {
  background-color: var(--secondary-color);
}
ul.tabs a.active {
  color: var(--tertiary-color);
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.views {
  position: relative;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}
.views > div:not(.show) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  overflow-y: auto;
}
.views > div.show {
  opacity: 1;
  pointer-events: auto;
}
.views > .demo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}
.demo .demo-inner {
  position: relative;
  width: 70%;
  max-width: 900px;
}
.demo #my-zoomist {
  z-index: 0;
}
.demo .zoomist-data {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  word-break: break-all;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .05em;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s;
}
.demo .zoomist-data.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0s;
}
.demo .demo-tools {
  flex: 1;
  padding-left: 60px;
}
.demo ul {
  max-width: 250px;
  margin: auto;
}
.demo li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}
.demo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.demo label .title {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  margin-right: auto;
}
.demo select, .demo input[type="text"] {
  border: 1px solid #999;
  color: var(--tertiary-color);
  outline: none;
  font-size: 14px;
  text-align: center;
  padding: 2px 0;
  margin-left: 10px;
}
.demo select {
  width: 100px;
}
.demo input[type="text"] {
  width: 50px;
}
.demo input[type="checkbox"] {
  display: none;
}
.demo input[type="checkbox"]:checked+.checkball::before {
  opacity: 1;
}
.demo input[type="checkbox"] ~ input[type="text"] {
  display: none;
}
.demo input[type="checkbox"]:checked ~ input[type="text"] {
  display: block;
}
.demo .checkball {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
}
.demo .checkball::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: var(--tertiary-color);
  opacity: 0;
  transition: .2s;
}
.demo button {
  padding: 5px 15px;
  font-family: 'Poppins', 'Roboto Mono', sans-serif;
  border: 1px solid #999;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: .2s;
  margin-right: auto;
}
.demo button:hover {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.views pre {
  height: 100%;
  margin-bottom: 0;
}
.views code {
  height: 100%;
  background-color: #fff;
  padding: 30px 60px;
}
.views iframe {
  width: 100%;
  height: calc(100% - 4px);
}
@media screen and (max-width: 767px) {
  ul.tabs a {
    font-size: 14px;
  }
  .views {
    width: 100%;
    padding-bottom: 120%;
  }
  .views > div {
    overflow-y: hidden;
  }
  .views code {
    padding: 20px;
  }
}
