---
import astroI18nextConfig, { type I18nLocales } from 'astro-i18next.config'
import i18next from 'i18next'
import { Icon } from 'astro-icon'

interface Props {
  class?: string
}

const { class: className } = Astro.props
const { meta, locales, defaultLocale } = astroI18nextConfig
const { language } = i18next
---

<div class="lang-select">
  <button class:list={['lang-btn nav-tool-link', className]} type="button" tabindex="0">
    <Icon name="lang" class="fill-[currentColor]" />
  </button>
  <div class="lang-dropwrap">
    <div class="lang-droplist">
      {
        locales.map((item) => {
          const newLang = item === defaultLocale ? '' : `/${item}`
          const [_leadingSlash, _oldLang, ...rest] = Astro.url.pathname.split('/')
          const slug = rest.join('/')
          return (
            <a
              class:list={['lang-option nav-link', { 'is-active': item === language }]}
              href={`${newLang}/${slug}`}
            >
              {meta[item as I18nLocales].name}
            </a>
          )
        })
      }
    </div>
  </div>
</div>

<style>
  .lang-select {
    @apply relative -m-2 h-9 p-2;
  }

  .lang-btn {
    @apply w-5;
  }

  .lang-dropwrap {
    @apply absolute left-1/2 top-full -translate-x-1/2;
  }

  .lang-droplist {
    @apply pointer-events-none absolute left-1/2 top-full w-32 -translate-x-1/2 -translate-y-2 rounded border border-solid border-[#eee] bg-white py-2 opacity-0 dark:border-gray-800 dark:bg-black;

    transition:
      opacity 200ms,
      transform 200ms;
  }

  .lang-droplist.is-active {
    @apply pointer-events-auto translate-y-0 opacity-100;
  }

  .lang-option {
    @apply relative z-[1] block px-4 py-2 text-sm;
  }

  .lang-option.is-active {
    @apply pointer-events-none text-black dark:text-white;
  }
</style>

<script>
  import { createPopper } from '@popperjs/core'

  const langSelect: HTMLElement | null = document.querySelector('.lang-select')
  const langBtn: HTMLElement | null = document.querySelector('.lang-btn')
  const tooltip: HTMLElement | null = document.querySelector('.lang-dropwrap')
  const droplist: HTMLElement | null = document.querySelector('.lang-droplist')

  const setDroplistShow = (isShow: boolean): void => {
    droplist!.classList[isShow ? 'add' : 'remove']('is-active')
  }

  const useLangSelect = (): void => {
    if (!langSelect || !langBtn || !tooltip) return

    const isMobile = typeof window !== 'undefined' && 'ontouchstart' in window

    createPopper(langBtn, tooltip, {
      placement: 'bottom',
      modifiers: [
        {
          name: 'offset',
          options: {
            offset: [0, 8]
          }
        }
      ]
    })

    if (!droplist) return

    if (isMobile) {
      langBtn.addEventListener('click', () => {
        setDroplistShow(true)
      })

      document.addEventListener('click', (e: MouseEvent) => {
        const { target } = e
        const isOutside = (target as HTMLElement).contains(langSelect)
        if (!isOutside) return
        setDroplistShow(false)
      })
    } else {
      langSelect.addEventListener('mouseenter', () => {
        setDroplistShow(true)
      })

      langSelect.addEventListener('mouseleave', () => {
        setDroplistShow(false)
      })
    }
  }

  useLangSelect()
</script>
