---
import { changeLanguage } from 'i18next'
import Layout from '@layouts/BaseLayout.astro'

const zoomistData = await fetch(
  'https://raw.githubusercontent.com/cotton123236/zoomist/main/package.json'
).then((res) => res.json())

changeLanguage('en')
---

<Layout>
  <section class="intro px-lr">
    <div class="intro-container container-page bg-grid">
      <div class="container-content text-center">
        <div class="flex items-end justify-center">
          <div class="relative">
            <h1 class="intro-title text-gradient font-bold leading-[1]">Zoomist</h1>
            <span class="intro-version">v{zoomistData.version}</span>
          </div>
        </div>
        <h2 class="mt-4 text-gray-300 dark:text-gray-400 md:mt-6 md:text-xl">
          Zooming anything you want.
        </h2>
      </div>
    </div>
  </section>
</Layout>

<style>
  .intro {
    @apply mt-16 md:mt-20;
  }

  .intro-container {
    @apply py-8 md:py-12;

    min-height: calc(90vh - var(--header-height) - 5rem);
    min-height: calc(90dvh - var(--header-height) - 5rem);
  }

  .intro-version {
    @apply absolute bottom-0 right-0 mb-1 translate-x-[calc(100%+0.5rem)] text-xs text-gray-100 dark:text-gray-700 md:mb-2 md:translate-x-[calc(100%+1rem)] md:text-sm;
  }

  .intro-title {
    @apply text-[clamp(4rem,9.5vw,6.5rem)];
  }
</style>
