---
import { changeLanguage, t } from "i18next";
import Layout from "@layouts/BaseLayout.astro";
// components
import { Trans } from "astro-i18next/components";
import RectBtn from "@components/btns/RectBtn.astro";

changeLanguage("tw");

const zoomistData = await fetch("https://raw.githubusercontent.com/cotton123236/zoomist/main/package.json").then((res) => res.json());
---

<Layout>
  <section class="intro px-lr">
    <div class="intro-container container-page bg-grid">
      <div class="container-content text-center">
        <div class="flex items-end justify-center">
          <div class="relative">
            <h1 class="intro-title text-gradient font-bold leading-[1]">Zoomist</h1>
            <span class="intro-version">v{zoomistData.version}</span>
          </div>
        </div>
        <div class="mt-2 flex justify-center md:mt-4">
          <h2 class="intro-subtitle text-gradient md:text-lg lg:text-xl">
            {t('index:intro-subtitle')}
          </h2>
        </div>
        <p class="mx-auto mt-20 max-w-md text-sm text-gray-600 dark:text-gray-400 md:text-base">
          <Trans i18nKey="index:intro-brief">
            <span class="font-medium">Zoomist</span> is a library built with <span
              class="font-medium">TypeScript</span
            > that allows you to <br />create zoom elements on website quickly and easily.
          </Trans>
        </p>
        <div class="mt-6 flex justify-center md:mt-8">
          <RectBtn>Documentation</RectBtn>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .intro {
    @apply mt-16 md:mt-20;
  }

  .intro-container {
    @apply py-8 md:py-12;

    min-height: calc(90vh - var(--header-height) - 5rem);
    min-height: calc(90dvh - var(--header-height) - 5rem);
  }

  .intro-version {
    @apply absolute bottom-0 right-0 mb-1 translate-x-[calc(100%+0.5rem)] text-xs text-gray-100 dark:text-gray-700 md:mb-2 md:translate-x-[calc(100%+1rem)] md:text-sm;
  }

  .intro-title {
    @apply text-[clamp(4rem,9.5vw,6.5rem)];
  }

  .intro-subtitle.text-gradient {
    --text-gradient-color: linear-gradient(150deg, #999 30%, #ccc);
    --text-gradient-color-dark: linear-gradient(150deg, #999 30%, #333);
  }
</style>
