@tailwind base;
@tailwind utilities;
@tailwind components;

/* layer base */
@layer base {
  :root {
    --body-bg-color: #fff;
    --body-bg-color-dark: #000;

    --header-height: 4rem;

    --page-max-width: 90rem;
    --content-max-width: 80rem;

    --selection-color: #fff;
    --selection-bg-color: #000;
    --selection-color-dark: #000;
    --selection-bg-color-dark: #fff;
  }

  ::selection {
    color: var(--selection-color);
    background: var(--selection-bg-color);
  }

  .dark ::selection {
    color: var(--selection-color-dark);
    background: var(--selection-bg-color-dark);
  }

  html {
    @apply scroll-pt-[calc(var(--header-height)+2rem)] scroll-smooth;
  }

  body {
    @apply bg-[var(--body-bg-color)] font-base font-light dark:bg-[var(--body-bg-color-dark)] dark:text-white;
  }

  code {
    @apply font-code;
  }
}

/* layer utilities */
@layer utilities {
  .px-lr {
    @apply px-4 md:px-6;
  }

  .absolute-fill {
    @apply absolute left-0 top-0 h-full w-full;
  }
}

/* layer components */
@layer components {
  [class*='container-'] {
    @apply mx-auto w-full;
  }

  .container-page {
    @apply max-w-[var(--page-max-width)];
  }

  .container-content {
    @apply max-w-[var(--content-max-width)];
  }

  .text-gradient {
    --text-gradient-color: linear-gradient(150deg, #000 30%, #aaa);
    --text-gradient-color-dark: linear-gradient(150deg, #fff 30%, #666);

    background: var(--text-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark .text-gradient {
    background: var(--text-gradient-color-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .split-line {
    @apply hidden text-gray-100 dark:text-gray-900 md:inline-block;
  }

  .split-line::before {
    content: '|';
  }

  .nav-link {
    @apply text-gray-300 duration-200 hover:text-black dark:text-gray-500 dark:hover:text-white;
  }

  .nav-tool-link {
    @apply text-gray-700 duration-100 hover:text-black dark:text-gray-100 hover:dark:text-white;
  }

  .sidebar-active-marker {
    @apply absolute left-0 top-0 z-[-1] h-9 w-full rounded bg-[#f9f9f9] duration-200 dark:bg-gray-900;
  }

  .sidebar-link {
    @apply block px-4 py-2 text-gray-300 duration-200 hover:text-black dark:text-gray-500 dark:hover:text-white;
  }

  .bg-grid {
    --dash-space: 0.125rem;
    --dash-stroke: 0.25rem;
    --dash-gap: 1.5rem;
    --dash-width: 1px;

    --bg-color: #fff;
    --bg-color-dark: #000;

    --dash-color: #f1f1f1;
    --dash-color-dark: #191919;

    mask-image: radial-gradient(circle at center, #000, #000 50%, transparent 100%),
      linear-gradient(to bottom, transparent 0%, #000, 10%, #000 90%, transparent 100%),
      linear-gradient(to right, transparent 0%, #000, 10%, #000 90%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    background-size:
      var(--dash-stroke) var(--dash-stroke),
      var(--dash-gap) var(--dash-gap);
    background-image: linear-gradient(
        to bottom,
        transparent var(--dash-space),
        var(--bg-color) var(--dash-space)
      ),
      linear-gradient(to right, var(--dash-color) var(--dash-width), transparent var(--dash-width)),
      linear-gradient(to right, transparent var(--dash-space), var(--bg-color) var(--dash-space)),
      linear-gradient(to bottom, var(--dash-color) var(--dash-width), transparent var(--dash-width));
  }

  .dark .bg-grid {
    background-image: linear-gradient(
        to bottom,
        transparent var(--dash-space),
        var(--bg-color-dark) var(--dash-space)
      ),
      linear-gradient(
        to right,
        var(--dash-color-dark) var(--dash-width),
        transparent var(--dash-width)
      ),
      linear-gradient(
        to right,
        transparent var(--dash-space),
        var(--bg-color-dark) var(--dash-space)
      ),
      linear-gradient(
        to bottom,
        var(--dash-color-dark) var(--dash-width),
        transparent var(--dash-width)
      );
  }

  .rainbow-bg {
    --rainbow-opacity: 0.7;

    @apply relative;
  }

  .rainbow-bg::after {
    @apply absolute-fill z-[-1] block opacity-[var(--rainbow-opacity)];

    content: '';
    background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
      radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
      radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
      radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
      radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
      radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
      radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
    filter: blur(100px) saturate(150%);
  }
}
