@tailwind base;
@tailwind utilities;
@tailwind components;

/* layer base */
@layer base {
  :root {
    --header-height: 4rem;

    --page-max-width: 90rem;
    --content-max-width: 80rem;
  }

  body {
    @apply bg-white font-base font-light dark:bg-black;
  }

  code {
    @apply font-code;
  }
}

/* layer utilities */
@layer utilities {
  .px-lr {
    @apply px-4 md:px-6;
  }
}

/* layer components */
@layer components {
  [class^='container-'] {
    @apply mx-auto w-full;
  }

  .container-page {
    @apply max-w-[var(--page-max-width)];
  }

  .container-content {
    @apply max-w-[var(--content-max-width)];
  }

  .text-gradient {
    --text-gradient-color: linear-gradient(to bottom, #666, #000);

    background: var(--text-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .split-line {
    @apply hidden text-gray-100 dark:text-gray-900 md:inline-block;
  }

  .split-line::before {
    content: '|';
  }

  .nav-link {
    @apply text-gray-300 duration-200 hover:text-gray-800 dark:hover:text-gray-100;
  }

  .nav-tool-link {
    @apply text-gray-700 duration-100 hover:text-black dark:text-gray-100 hover:dark:text-white;
  }
}
