---
import { t } from 'i18next'

export interface Props {
  class?: string
}

const { class: className } = Astro.props as Props
---

<button class:list={['sidebar-btn', className]}>
  <div class="inner">
    <span class="icon">
      <span class="icon-span"></span>
      <span class="icon-span"></span>
    </span>
    <span class="ml-3 text-sm">{t('sidebarBtn')}</span>
  </div>
</button>

<style>
  .sidebar-btn {
    @apply h-[var(--sidebar-btn-height)] py-3;
  }

  .sidebar-btn.is-active .icon-span:first-child {
    @apply -translate-x-[2px];
  }

  .sidebar-btn.is-active .icon-span:last-child {
    @apply translate-x-[2px];
  }

  .inner {
    @apply flex items-center;
  }

  .icon {
    @apply relative block h-2 w-4;
  }

  .icon-span {
    @apply absolute left-0 block h-px w-full bg-black duration-100 dark:bg-white;
  }

  .icon-span:first-child {
    @apply top-0;
  }

  .icon-span:last-child {
    @apply bottom-0;
  }
</style>

<script>
  import { $sidebarState } from '@stores/globals'

  const useSidebarControll = (): void => {
    const sidebarBtn = document.querySelector('.sidebar-btn')
    if (!sidebarBtn) return

    sidebarBtn.addEventListener('click', () => {
      console.log('click')
      $sidebarState.set(!$sidebarState.get())
    })

    $sidebarState.subscribe((val) => {
      sidebarBtn.classList[val ? 'add' : 'remove']('is-active')
    })
  }

  document.addEventListener('astro:page-load', useSidebarControll)
</script>
